.multiSelect{text-align:left}
.width_100{width:100%}
.width_89{width:94%}
.mar_T12{margin-top:12px}
.bt_width{width:20%;height:0;line-height:0;padding:13px;margin-top:8px}
.bar{border-bottom:1px solid #ccc;padding-left:14px}
.multiSelect.inlineBlock{display:inline-block}
.span_size>span{font-size:14px!important;margin-right:15px;margin-top:7px;float:left}
.multiSelect .button{display:block;height:38px;padding:6px 30px 6px 12px;font-size:14px;line-height:1.428571429;color:#555;vertical-align:middle;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.multiSelect .helperButton{display:inline-block;text-align:center;vertical-align:top;cursor:pointer;border:1px solid #ccc;padding:2px 7px;font-size:14px;line-height:1;border-radius:2px;color:#666}
.multiSelect .button>div{float:left}
.multiSelect .checkboxLayer{background-color:#fff;position:absolute;z-index:999;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box;padding-bottom:7px}
.multiSelect .caret{display:inline-block;width:0;height:0;margin-left:-200px!important;vertical-align:middle;border-top:4px solid #333;border-right:4px solid transparent;border-left:4px solid transparent;border-bottom:0 dotted;float:right;margin-top:7px;right:26px;position:absolute}
.multiSelect.multiSelectItem{display:block;min-height:30px;color:#777;padding-left:14px}
.multiSelect .vertical{float:none}
.multiSelect .horizontal{float:left}
.multiSelect .acol{display:table-cell;line-height:7px;min-width:14px}
label.multiSelect span{white-space:nowrap;margin:0;padding:0;display:inline-block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;font-size:13px;color:#555}
.multiSelect .checkbox{position:absolute;left:-9999px;cursor:pointer}
.multiSelect .show{display:inline-block}
.multiSelect .hide{display:none}
.multiSelect .line{margin-bottom:15px}
.multiSelect .helperButton+.helperButton{margin-left:1px}
label.multiSelect input:focus~span,label.multiSelect span:hover{color:#333;cursor:pointer}
.multiSelect .checkboxSelected{color:#000;text-shadow:1px 0 #eee}
.multiSelect.disabled,.multiSelect.disabled:hover{color:#ccc;cursor:not-allowed}
.multiSelect img{vertical-align:middle;margin-bottom:0;height:22px;width:22px}